In [1]:
!pip install openai

Collecting openai
  Obtaining dependency information for openai from https://files.pythonhosted.org/packages/3e/d3/309769dad11d5f75b81c7252d9dc849ed440d0921215e759af169054f3b6/openai-1.3.7-py3-none-any.whl.metadata
  Downloading openai-1.3.7-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: anyio<4,>=3.5.0 in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from openai) (3.5.0)
Collecting distro<2,>=1.7.0 (from openai)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Collecting httpx<1,>=0.23.0 (from openai)
  Obtaining dependency information for httpx<1,>=0.23.0 from https://files.pythonhosted.org/packages/a2/65/6940eeb21dcb2953778a6895281c179efd9100463ff08cb6232bb6480da7/httpx-0.25.2-py3-none-any.whl.metadata
  Downloading httpx-0.25.2-py3-none-any.whl.metadata (6.9 kB)
Collecting pydantic<3,>=1.9.0 (from openai)
  Obtaining dependency information for pydantic<3,>=1.9.0 from https://files.pythonhosted.org/packages/0a/2b/64066de1c4cf3d4ed623beeb3bbf3f8d0cc26661f1e7d180ec5eb66b75a5/pydantic-2.5.2-py3-none-any.whl.metadata
  Downloading pydantic-2.5.2-py3-none-any.whl.metadata (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.2/65.2 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: sniffio in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from openai) (1.2.0)
Requirement already satisfied: tqdm>4 in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from openai) (4.64.1)
Collecting typing-extensions<5,>=4.5 (from openai)
  Obtaining dependency information for typing-extensions<5,>=4.5 from https://files.pythonhosted.org/packages/24/21/7d397a4b7934ff4028987914ac1044d3b7d52712f30e2ac7a2ae5bc86dd0/typing_extensions-4.8.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.8.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: idna>=2.8 in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from anyio<4,>=3.5.0->openai) (3.3)
Requirement already satisfied: certifi in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from httpx<1,>=0.23.0->openai) (2022.9.24)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Obtaining dependency information for httpcore==1.* from https://files.pythonhosted.org/packages/56/ba/78b0a99c4da0ff8b0f59defa2f13ca4668189b134bd9840b6202a93d9a0f/httpcore-1.0.2-py3-none-any.whl.metadata
  Downloading httpcore-1.0.2-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 8.1 MB/s eta 0:00:00
Collecting annotated-types>=0.4.0 (from pydantic<3,>=1.9.0->openai)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/28/78/d31230046e58c207284c6b2c4e8d96e6d3cb4e52354721b944d3e1ee4aa5/annotated_types-0.6.0-py3-none-any.whl.metadata
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.14.5 (from pydantic<3,>=1.9.0->openai)
  Obtaining dependency information for pydantic-core==2.14.5 from https://files.pythonhosted.org/packages/9a/e1/c33fcdbdad7f5c29376fa2e57f8d60f966c44fc77fc36a70d0ae03bbe813/pydantic_core-2.14.5-cp39-cp39-macosx_10_7_x86_64.whl.metadata
  Downloading pydantic_core-2.14.5-cp39-cp39-macosx_10_7_x86_64.whl.metadata (6.5 kB)
Downloading openai-1.3.7-py3-none-any.whl (221 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 221.4/221.4 kB 7.6 MB/s eta 0:00:00
Downloading httpx-0.25.2-py3-none-any.whl (74 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 7.5 MB/s eta 0:00:00
Downloading httpcore-1.0.2-py3-none-any.whl (76 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 7.5 MB/s eta 0:00:00
Downloading pydantic-2.5.2-py3-none-any.whl (381 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.9/381.9 kB 17.5 MB/s eta 0:00:00
Downloading pydantic_core-2.14.5-cp39-cp39-macosx_10_7_x86_64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 39.5 MB/s eta 0:00:0000:01
Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: typing-extensions, h11, distro, annotated-types, pydantic-core, httpcore, pydantic, httpx, openai
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.3.3 requires pyqt5<5.16, which is not installed.
spyder 5.3.3 requires pyqtwebengine<5.16, which is not installed.
tensorflow 2.13.0 requires typing-extensions<4.6.0,>=3.6.6, but you have typing-extensions 4.8.0 which is incompatible.
Successfully installed annotated-types-0.6.0 distro-1.8.0 h11-0.14.0 httpcore-1.0.2 httpx-0.25.2 openai-1.3.7 pydantic-2.5.2 pydantic-core-2.14.5 typing-extensions-4.8.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/47/6a/453160888fab7c6a432a6e25f8afe6256d0d9f2cbd25971021da6491d899/pip-23.3.1-py3-none-any.whl.metadata
  Downloading pip-23.3.1-py3-none-any.whl.metadata (3.5 kB)
Downloading pip-23.3.1-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 21.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-23.3.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import openai

In [2]:
import os

In [3]:
os.environ["OPENAI_API_KEY"] = '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'

In [4]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [7]:
response = openai.Completion.create(
model = 'text-davinci-003',
prompt = 'Give me two reasons to learn openAI API with python',
max_tokens = 300)

In [10]:
print(response['choices'][0]['text'])

1. OpenAI API allows developers to easily access powerful artificial intelligence (AI) capabilities without having to learn complex programming languages. This means that developers can use OpenAI APIs to quickly and efficiently create projects that involve sophisticated AI technology.

2. Python is one of the most popular programming languages used for machine learning and AI. By learning how to use the OpenAI API with Python, developers can take advantage of the powerful features and capabilities of Python to create advanced AI projects more quickly and efficiently.

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('sales_data_sample.csv')

In [13]:
df #we need to specify the structure of the table to openai

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,2244.40,12/2/2004 0:00,4,12,2004,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2819,10373,29,100.00,3978.51,1/31/2005 0:00,1,1,2005,Ships,981-443655,Torikatu 38,Oulu,NaN,90110,Finland,Koskitalo,Pirkko
2820,10386,43,100.00,5417.57,3/1/2005 0:00,1,3,2005,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2821,10397,34,62.24,2116.16,3/28/2005 0:00,1,3,2005,Ships,61.77.6555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,Roulet,Annette
2822,10414,47,65.52,3079.44,5/6/2005 0:00,2,5,2005,Ships,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,Yoshido,Juri

In [14]:
#df.groupby("QTR_ID").sum()

        ORDERNUMBER  QUANTITYORDERED  PRICEEACH       SALES  MONTH_ID  YEAR_ID
QTR_ID
1           6829804            23485   55446.88  2350817.73      1313  1332832
2           5758370            20316   46774.20  2048120.30      2758  1124258
3           5146508            17118   42357.76  1758910.81      4054  1007828
4          11225699            38148   91589.23  3874780.01     11897  2191852

In [15]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/jeetpatel499/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import sqlalchemy 
from sqlalchemy import create_engine
from sqlalchemy import text

In [20]:
#Creating a temp database to store the csv, so we created a engine
temp_db = create_engine('sqlite:///memory:',echo = True)

In [21]:
#Now we puch the data to a sql db, it will basically create vairable and datatypes for you
data = df.to_sql(name='Sales',con=temp_db)

2023-12-05 12:31:39,677 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-12-05 12:31:39,678 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-12-05 12:31:39,679 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-12-05 12:31:39,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-12-05 12:31:39,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 12:31:39,684 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)


2023-12-05 12:31:39,684 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2023-12-05 12:31:39,687 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-12-05 12:31:39,687 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2023-12-05 12:31:39,689 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 12:31:39,695 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-05 12:31:39,729 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-12-05 12:31:39,729 INFO sqlalchemy.engine.Engine [generated in 0.02582s] ((0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri'))
2023-12-05 12:31:39,741 INFO sqlalchemy.engine.Engine COMMIT
2023-12-05 12:31:39,743 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-12-05 12:31:39,744 INFO sqlalchemy.engine.Engine [raw sql] ()

In [33]:
with temp_db.connect() as conn:
    #makes the connectiion 
    #run the code indentention / block code 
    result = conn.execute(text("SELECT SUM(Sales) from Sales"))
    total_sales = result.scalar()
    ##auto close connections

2023-12-05 12:39:32,967 INFO sqlalchemy.engine.Engine SELECT SUM(Sales) from Sales
2023-12-05 12:39:32,970 INFO sqlalchemy.engine.Engine [cached since 143.6s ago] ()

In [34]:
total_sales

10032628.85000001

In [35]:
def create_table_defination(df): 
    prompt = """### sqlite SQl table, with it properties:
    #
    # Sales({})
    # 
    """.format(",".join(str(col) for col in df.columns))
    
    return prompt

In [36]:
[str(col) for col in df.columns]

['ORDERNUMBER',
 'QUANTITYORDERED',
 'PRICEEACH',
 'SALES',
 'ORDERDATE',
 'QTR_ID',
 'MONTH_ID',
 'YEAR_ID',
 'PRODUCTLINE',
 'PHONE',
 'ADDRESSLINE1',
 'CITY',
 'STATE',
 'POSTALCODE',
 'COUNTRY',
 'CONTACTLASTNAME',
 'CONTACTFIRSTNAME']

In [37]:
",".join(str(col) for col in df.columns)

'ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME'

In [38]:
print(create_table_defination(df))

### sqlite SQl table, with it properties:
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
    #

In [40]:
def prompt_input():
    nlp_text = input("Enter the info you want")
    return nlp_text

In [41]:
prompt_input()

Enter the info you wantGrab all sales per quarter

'Grab all sales per quarter'

In [42]:
def combine_prompts(df,query_prompt):
    definition = create_table_defination(df)
    query_init_string = f"### A query to answer:{query_prompt}\n SELECT"
    return definition+query_init_string

In [43]:
nlp_text=prompt_input() 
combine_prompts(df,nlp_text)

Enter the info you wantTotal sales per quarter

'### sqlite SQl table, with it properties:\n    #\n    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)\n    # \n    ### A query to answer:Total sales per quarter\n SELECT'

In [44]:
prompt = combine_prompts(df,nlp_text)

In [45]:
print(prompt)

### sqlite SQl table, with it properties:
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
    #
    ### A query to answer:Total sales per quarter
 SELECT

In [49]:
response = openai.Completion.create(
    model = 'text-davinci-002',
    prompt = combine_prompts(df,nlp_text),
    temperature = 0,
    max_tokens = 150,
    top_p = 1.0,
    frequency_penalty = 0,
    presence_penalty = 0,
    stop = ['#',';']
    )

In [50]:
response['choices'][0]['text']

' sum(sales) as total_sales, qtr_id FROM Sales GROUP BY qtr_id\n    '

In [51]:
def  handle_responses(response):
    query = response['choices'][0]['text']
    if query.startswith(" "):
        query = "SELECT"+query 
        return query

In [54]:
handle_responses(response)

'SELECT sum(sales) as total_sales, qtr_id FROM Sales GROUP BY qtr_id\n    '

In [69]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_responses(response)))
    output = result.scalar()
    print(output)

2023-12-05 14:08:09,926 INFO sqlalchemy.engine.Engine SELECT sum(sales) as total_sales, qtr_id FROM Sales GROUP BY qtr_id

2023-12-05 14:08:09,928 INFO sqlalchemy.engine.Engine [cached since 871.5s ago] ()
2350817.7300000004

2350817.7300000004